body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.tweet {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.tweet-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

/* Hacky but less typing in the video */
.tweet-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.tweet-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.tweet-info > div > div {
  color: #969696;
  font-size: 15px;
}
.tweet-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}
.tweet-icons {
  display: flex;
  align-items: center;
}
.tweet-icons > span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.tweet-icon {
  font-size: 27px;
  color: #697784;
}
.tweet-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}
.replying-to {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  color: #969696;
  cursor: pointer;
}

.heart-button {
  background: transparent;
  border: none;
}

.new-tweet {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.tweet-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

.login-mainwrapper {
  width: 350px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.login-imagelayout {
  display: block;
  width: 250px;
  margin: auto;
}

/* NavBar */
.navbar-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.navbar-list-item {
  display: flex;
  justify-content: center;
  /*  List item shape */
  border-bottom: 45px solid white;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 100px;
}

  .navbar-list-item:hover {
    border-bottom: 45px solid #17b994;  
    color: white;
  }

  .navbar-list-item:nth-child(1) span {
    position: relative;
    top: 25px;
  }

  .navbar-list-item:nth-child(2) span {
    position: relative;
    top: 17px;
  }

  .navbar-list-item:nth-child(3) span {
    position: relative;
    top: 18px;
  }

  .navbar-list-item:nth-child(4) span {
    position: relative;
    top: 18px;
    font-size: 15px;
  }

  .navbar-list-item:nth-child(5) span {
    position: relative;
    top: 25px;
  }


.navbar-hr {
  border-top: 2px solid #17b994;
  margin-top: 0px;
}

.login-dropdownWrapper {
  display: flex;
  justify-content: center;
  position: relative;
  top: -30px;
}

.login-dropdown-image {
  height: 50px;
}

.show {
  width: 248px;
  position: absolute;
  will-change: transform !important;
  top: 0px !important;
  left: 0px !important;
  transform: translate3d(0px, 72px, 0px) !important;
}